/* MEDIA QUERIES
*********************************************/

$xsm-width: 320px;
$sm-width: 768px;
$md-width: 1024px;
$lg-width: 1366px;
$xlg-width: 1885px;

@mixin bp-small {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}

@mixin bp-medium {
  @media (min-width: #{$md-width}) {
    @content;
  }
}

@mixin bp-large {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

@mixin bp-xlarge {
  @media (min-width: #{$xlg-width}) {
    @content;
  }
}
