.site-footer {
	background: $colour__red;
	font-size: 0.8rem;
	color: rgba(#fff, 0.8);
	text-align: center;

	a {
		color: rgba(#fff, 0.8);
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: underline;
		}

	}
	.wrapper {
		margin-top: 0;
		margin-bottom: 0;
		padding: 20px 0;

		@include clearfix();

	}

	.nav {
		margin: 0 0 10px 0;
		padding: 0;
		list-style: none;
		text-align: center;

		@include bp-small {
			float: left;
			text-align: left;
		}

		li {
			display: inline-block;
			margin-right: 10px;
		}

		@include clearfix();
	}
}

.copyright-info {
	@include bp-small {
		float: right;
	}
}