.is-frontpage {
	background: $colour__red;

	.page-header, .item-title {
		display: none;
	}

	.main-content p {
		color: #fff;
		font-size: 2rem;

		@include bp-small {
			font-size: 2.25rem;
		}

		@include bp-medium {
			font-size: 2.6rem;
		}
	}
}

.image-slider {
	display: block;
	clear: both;
}