header {
	background: $colour__red;
	padding: 20px 0;

	.wrapper {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.header-inner {
	width: 100%;

	@include bp-medium {
		width: 90%;
		margin: 20px auto;
		display: flex;
		align-items: center;
		max-width: 1800px;
	}

	@include clearfix();
}
.logo {
	width: 80%;
	margin: 0 auto;

	img {
		width: 100%;
		height: auto;
	}

	@include bp-small {
		width: 40%;
	}

	@include bp-medium {
		float: left;
		max-width: 200px;
	}
}

.nav-container {

	@include bp-small {
		// text-align: center;
	}

	@include bp-medium {
		float: right;
		width: auto;
	}
}