.wrapper {
	margin: 0 3vh 3vh;
	max-width: 1200px;

	@include bp-small {
		width: 90%;
		margin: 5vh auto;

	}
}

.page-header h2 {
	margin-top: 0;
}

.sidebar-inactive .main-content {
	max-width: 960px;
	margin: 30px auto;
}

.sidebar-active .main-content {
	margin: 30px auto;
}