.responsiveMenuTheme1 {
	list-style: none;
  background: transparent !important;
  margin: 0;
  padding: 0;
  font-family: $font__main !important;

  & > li > a {
  	padding: 0px 20px !important;
  }
}
.responsiveMenuTheme1.isDesktop li a,
.responsiveMenuTheme1.isDesktop li span.separator,
.responsiveMenuTheme1.isDesktop li span.navHeader {
	background-color: transparent !important;
	border: none !important;
}

#responsiveMenu87.responsiveMenuTheme1.isDesktop > li {
	width: auto !important;
}
.responsiveMenuTheme1.isMobile li.active > a {
  background-color: transparent !important;
}
.responsiveMenuTheme1 li li > a {
  background-color: transparent !important;
  border-top: 1px dashed #fff !important;
}

.responsiveMenuTheme1 li li:first-child {
  border-top: none !important;
}

.responsiveMenuTheme1.isDesktop > li > ul {
  background: $colour__red;
  box-shadow: 0px 0px 10px #333;
}

.responsiveMenuTheme1.isDesktop li a {
  border-bottom: 3px solid $colour__red !important;
}
.responsiveMenuTheme1.isDesktop a:hover {
  border-bottom: 3px solid rgba(#fff, 0.4) !important;
}
.responsiveMenuTheme1.isMobile > li > ul {
  border-top: 2px solid #fff;
  padding-left: 20px;
}
.responsiveMenuTheme1 > li > ul > li > a {
  text-transform: uppercase;
  font-size: 14px;
  background: $colour__red !important;
}
.responsiveMenuTheme1.isDesktop > li > ul > li > a {
  background: $colour__red !important;
}
.toggleMenu {
  background: transparent !important;
  border-radius: 5px;
  border: 1px solid #fff;
  width: 100%;
  font-family: $font__main !important;
  height: auto !important;
  line-height: inherit !important;
  margin-top: 20px;
  padding: 10px !important;
  text-align: center;
  text-decoration: none !important;

  span {
    padding: 0 !important;
  }
}

.responsiveMenuTheme1 a:hover,
.responsiveMenuTheme1 li.active > a,
.responsiveMenuTheme1 li > span.separator:hover {
  background: transparent !important;
}

.responsiveMenuTheme1 span.opener {
  position: relative !important;
  width: 25px !important;
  background-position: 5px center !important;
}


// mobile nav styles 
.responsiveMenuTheme1.isMobile > li {
  border-top: none !important;
  border-bottom: 1px solid #fff !important;
}


// give a specil border to the "past conferences" menu item
#item-147 {
  border-top: 2px solid #fff;
}