.secondary-content {
	clear: both;
	background: $colour__red;
	padding: 40px 0;

	h3 {
		margin-top: 0;
		color: #fff;
		border-bottom: 1px dashed #fff;
		font-weight: 300;
	}

	.wrapper {
		margin-top: 0;
		margin-bottom: 0;

		@include clearfix();

	}

	.moduletable {
		width: 100%;
		margin-bottom: 40px;

		@include bp-small {
			width: 30%;
			float: left;
			margin-bottom: 0;
			margin-right: 2%;
		}
	}

	img {
		width: 100%;
		max-width: 250px;
		height: auto;
	}

	a {
		color: rgba(#fff, 0.8);
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}

	ul, li {
		list-style: none;
	}

	ul {
		margin: 20px 0;
		padding: 0;
	}

	li {
		margin-bottom: 10px;
	}
}

.not-frontpage .secondary-content {
	background: lighten(#000, 80%);

	h3 {
		color: $colour__red;
	}

	a {
		color: rgba($colour__red, 0.6);
		text-decoration: none;

		&:hover {
			color: $colour__red;
			text-decoration: underline;
		}
	}
}