.sidebar {

	width: 100%;

	@include bp-small {
		float: right;
		width: 18%;
	}


	h3 {
		margin: 0;
	}

	.nav {
		margin: 20px 0 0 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 10px;
		}

		a {
			color: lighten(#000, 40%);
			text-decoration: none;

			&:hover {
				color: $colour__red;
				text-decoration: underline;
			}
		}
	}

}

.sidebar-active .main-content {
	@include bp-small {
		width: 78%;
		float: left;
	}
}