table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;

	th, td {
		border-width: 1px;
		padding: 10px;
		border-style: solid;
		border-color: gray;
		background-color: white;
	}

	p {
		margin: 0;
	}
}