$font__main: 'Lora', serif;

body {
	font-family: $font__main;
}

h2, .main-content h1 {
	font-size: 2rem;
	border-bottom: 2px solid $colour__red;
}

h3 {
	font-size: 1.4rem;
	border-bottom: 1px dashed $colour__red;
	margin: 1.5rem 0 0 0;	
	display: inline-block;
}
// div[itemprop="articleBody"] h3:first-of-type {
// 	margin-top: 1rem;
// }