@import 'normalize';
@import 'colours';
@import 'typography';
@import 'mixins';
@import 'breakpoints';
@import 'layout';
@import 'header';
@import 'nav';
@import 'tables';
@import 'sidebar';
@import 'frontpage';
@import 'secondary-content';
@import 'image-slider';
@import 'footer';



/* FRONTEND CSS
*********************************************/

html {
	/* scrollbar fix (prevent ugly left pull for lower content sites) */
	overflow-y: scroll;
}

body {
	background: #fff;
}

a {
	transition: all ease 0.2s;
}